body{
	margin: 0px;
	font-family: "Rockwell";
	font-size: 17px;
	color: #000;
	background: #999999;
}

textarea, input, select, button{
	font-family: Arial;
	font-size: 13.34px;
}

/*====================================ICON ADMIN=====================================*/
.user_active{
	background: url('../img/approved.png') no-repeat;
	width:25px;
	height:25px;
}

.user_suspend{
	background: url('../img/pending.png') no-repeat;
	width:25px;
	height:25px;
}

.article_Publish{
	background: url('../img/star.png') no-repeat;
	width:16px;
	height:16px;
}

.article_Unpublish{
	background: url('../img/star_none.png') no-repeat;
	width:16px;
	height:16px;
}

.access_view{
	background-image: url('../img/view-icon.png');
	background-repeat: no-repeat;
	background-size: 22px 15px;
	width:28px;
	height:16px;
}

.access_view.evaluation{
	background-image: url('../img/hasil-penilaian-icon.png');
	background-repeat: no-repeat;
	background-size: 27px 20px;
	width:29px;
	height:25px;
}

.access_edit{
	background-image: url('../img/edit-icon.png');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	width:27px;
	height:25px;
}

.access_approval{
	background: url('../img/sent-approval-icon.png') no-repeat;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	width:27px;
	height:25px;
}

.access_add{
	background: url('../img/add-access-icon.png') no-repeat;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	width:27px;
	height:25px;
}

.no_access{
	background: url('../img/no-access-icon.png') no-repeat;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	width:27px;
	height:25px;
}
/*=====================================LOGIN==========================================*/
.wrap-form-login{
	background: #8bc541;
	padding:50px 20px;
}

.wrap-form-login .login-title{
	background: #d5e594;
	padding:7px 10px;
	text-align: center;
	text-transform: uppercase;
	font-size: 20pt;
}

.wrap-form-login .login-form{
	background: #516d32;
	padding:30px 10px;
}

.wrap-form-login .login-form input[type="text"],
.wrap-form-login .login-form input[type="password"]{
	padding:7px 10px;
	text-align: center;
	font-size: 20pt;
	border: none;
	font-family: "Rockwell";
	background: white;
	width:220px;
	margin-bottom: 15px;
}

.wrap-form-login .login-form input[type="submit"]{
	background: #febf18;
	border: none;
	font-family: "Rockwell";
	font-size: 20pt;
	text-transform: uppercase;
	text-align: center;
	padding: 1px 30px;
	margin-top: 15px;
}
/*====================================END LOGIN=======================================*/

/*=====================================GENERAL BLOCK STYLE============================*/
.content .block .add_button{
	background-image: url("../img/add-icon.png");
	background-repeat: no-repeat;
	background-position: left 2px;
	font-size: 14pt;
	float:right;
	padding-left:35px;
	height: 30px;
	color: white;
	margin-right: 20px;
}

.content .block .add_button div{
	margin-top:5px;
}

.content .block .block-content{
	padding:30px 20px;
}
/*=================================END GENERAL BLOCK STYLE============================*/

/*================================MENU DATA STYLE=========================================*/
.content .block.menu{
	background: #78d1f0;
	padding-bottom:30px;
}

.content .block.menu .title{
	background-color: #186078;
	text-transform: uppercase;
	min-height: 30px;
}

table#menu_table td:first-child{text-align: left;}
/*=================================END MENU DATA STYLE=====================================*/

/*==================================ROLES DATA STYLE=======================================*/
.content .block.role{
	background:#d7d472;
	padding-bottom: 30px;
}

.content .block.role .title{
	background: #0d7a3d;
	text-transform: uppercase;
	min-height: 30px;
}

.content_role{
	overflow-x: scroll;
}
/*==================================END ROLES DATA STYLE===================================*/

/*==================================USER DATA STYLE=======================================*/
.content .block.user{
	background:#fddd75;
	padding-bottom: 30px;
}

.content .block.user .title{
	background: #e84d24;
	text-transform: uppercase;
	min-height: 30px;
}
/*==================================END USER DATA STYLE===================================*/

/*================================ARTICLE DATA STYLE=========================================*/
.content .block.article{
	background: #78d1f0;
	padding-bottom:30px;
}

.content .block.article .title{
	background-color: #186078;
	text-transform: uppercase;
	min-height: 30px;
}

/*=================================END ARTICLE DATA STYLE=====================================*/

/*==================================HOMEPAGE CONTENT DATA STYLE=======================================*/
.content .block.homepage_content{
	background:#d7d472;
	padding-bottom: 30px;
}

.content .block.homepage_content .title{
	background: #0d7a3d;
	text-transform: uppercase;
	min-height: 30px;
}
/*==================================END HOMEPAGE CONTENT DATA STYLE===================================*/

/*==================================INNOVATION DATA STYLE=======================================*/
.content .block.innovation{
	background:#fddd75;
	padding-bottom: 30px;
}

.content .block.innovation .title{
	background: #e84d24;
	text-transform: uppercase;
	min-height: 30px;
}
/*==================================END INNOVATION DATA STYLE===================================*/

/*================================EXPERT DATA STYLE=========================================*/
.content .block.expert{
	background: #78d1f0;
	padding-bottom:30px;
}

.content .block.expert .title{
	background-color: #186078;
	text-transform: uppercase;
	min-height: 30px;
}

/*=================================END EXPERT DATA STYLE=====================================*/

/*=========================================FORM STYLING======================================*/
.content-form{
	margin:20px auto;
	color:black;
}

.content-form .first-module,
.content-form .each-module,
.content-form table{
	padding:15px 20px;
}

.content-form .title{
	font-family: "Rockwell";
}

.content-form .first-module{
	background: #c9edf9;
}

.content-form .each-module:nth-child(odd){
	background: #d9f2fb;
}

.content-form .each-module:nth-child(even){
	background: #c9edf9;
}

.content-form table{
	width:100%;
}

input[type="password"],
.content-form input.button,
input[type="checkbox"],
textarea,
select,
input[type="text"]{
	background: white;
	border: none;
	padding:5px 7px;
}

.form-table select{
	width: 364px;
}

.form-table textarea{
	width: 350px;
	resize:vertical;
}

.form-table input[type="password"],
.form-table input[type="text"]{
	width:350px;
}

.first-module input[type="text"],
.each-module input[type="text"]{
	width:200px;
}

.content-form input.button{
	font-family: "Rockwell";
	text-transform: uppercase;
	font-size: 14pt;
	padding: 5px 15px;
	cursor: pointer;
}

.content-form input.button:hover{
	background: #f5f5f5;
}

.content-form .role-list{
	padding: 0;
}

.content-form .role-list th{
	background: #0d7a3d;
	color: white;
	font-family: "Rockwell";
	font-size: 16pt;
	font-weight: normal;
	padding:  5px 3px;
	border-right:1px solid #e6e4a5;
}

.content-form .role-list td{
	padding:10px 5px;
	border-right:1px solid #e6e4a5;
}
.content-form .role-list tr:nth-child(even){
	background:#f4f3d8;
}

.content-form .detail-inno{
	padding: 0;
}

.content-form .detail-inno td{
	padding:10px 5px;
	border-right:1px solid #fddd75;
}

.content-form .detail-inno tr:nth-child(odd){
	background: #fef1c8;
}

.content-form .detail-inno tr:nth-child(even){
	background:#fef5d9;
}

.content-form .detail-experts td{
	padding:10px 5px;
	border-right:1px solid #1e98c7;
}

.content-form .detail-experts tr:nth-child(odd){
	background: #c9edf9;
}

.content-form .detail-experts tr:nth-child(even){
	background:#d9f2fb;
}

.content-form .hp-form-link{
	color:black;
	background-image: url("../img/black-arrow.png");
	background-repeat: no-repeat;
	background-position: left center;
	text-decoration: none;
	background-size: 10px 15px;
	padding-left: 15px;
}

.content-form .hp-form-link:hover{
	text-decoration: underline;
}
/*=========================================END FORM STYLING==================================*/

/*============================================HOMEPAGE MENU==================================*/
.hp_innovation{
	background: #8cc444;
	background-image: url("../img/innovation-icon-admin.png");
	background-position: center 20px;
	background-repeat: no-repeat;
	background-size: 30% auto;
	padding:10px 0;
	height:210px;
	position: relative;
	margin-bottom:10px;
	margin-top:10px;
}

.hp_menu{
	background-color: #8cc444;
	background-image: url("../img/menu-icon.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 45% auto;
	padding:10px 0;
	height:430px;
	position: relative;
	margin-bottom:10px;
}

.hp_hp_content{
	background: #ea222d;
	background-image: url("../img/homepage-content-icon.png");
	background-position: center 20px;
	background-repeat: no-repeat;
	background-size: 25% auto;
	padding:10px 0;
	height:210px;
	position: relative;
}

.hp_role{
	background: #ea222d;
	background-image: url("../img/role-icon.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 35% auto;
	padding:10px 0 10px 10px;
	height:220px;
	position: relative;
}

.hp_expert{
	background: #4e59a8;
	background-image: url("../img/expert-icon.png");
	background-position: center 20px;
	background-repeat: no-repeat;
	background-size: 35% auto;
	padding:10px 0;
	height:210px;
	position: relative;
}

.hp_user{
	background: #4e59a8;
	background-image: url("../img/user-icon.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 40% auto;
	padding:10px 0;
	height:220px;
	position: relative;
}

.hp_article{
	background: #f16729;
	background-image: url("../img/article-icon.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 20% auto;
	padding:10px 0;
	height:180px;
	position: relative;
	margin-bottom:10px;
	margin-top:10px;
}

.hp_article_cat{
	background: #20abe1;
	background-image: url("../img/article-category-icon.png");
	background-position: 50px center;
	background-repeat: no-repeat;
	background-size: 25% auto;
	padding:10px 0;
	height:210px;
	position: relative;
	margin-bottom:10px;
	margin-top:10px;
}

.hp_article span,
.hp_user span,
.hp_expert span,
.hp_role span,
.hp_menu span,
.hp_innovation span,
.hp_article_cat span,
.hp_hp_content span{
	color: white;
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 35pt;
}
/*==========================================END HOMEPAGE MENU================================*/