/*
	CLASS FOR TABLE : blue-table, orange-table, green-table, purple-table, orange-green-table, light-orange-table;

*/

@font-face {
	font-family: "Rockwell";
	src: url(fonts/Rockwell.TTF) format("truetype");
}

@font-face {font-family:"ClarendonBT"; src:url("fonts/ClarendonBT.eot?") format("eot"),url("fonts/ClarendonBT.woff") format("woff"),url("fonts/ClarendonBT.ttf") format("truetype"),url("fonts/ClarendonBT.svg#Code-Bold") format("svg");font-weight:normal;font-style:normal;}

.upper{text-transform:uppercase;}
.margin-top{margin-top:30px;}

/*---------------------------TABLE STYLE------------------------------------------------*/
table.light-orange-table,
table.orange-green-table,
table.orange-table,
table.green-table,
table.purple-table,
table.blue-table {
	margin: 10px auto;
	clear: both;
	width: 97%;
}

table.light-orange-table thead th,
table.orange-green-table thead th,
table.orange-table thead th,
table.green-table thead th,
table.purple-table thead th,
table.blue-table thead th {
	padding: 3px 18px 3px 10px;
	border-bottom: 1px solid black;
	font-weight: bold;
	cursor: pointer;
	*cursor: hand;
	color: white;
}

table.light-orange-table tfoot th,
table.orange-green-table tfoot th,
table.orange-table tfoot th,
table.green-table tfoot th,
table.purple-table tfoot th,
table.blue-table tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

table.orange-green-table td.last,
table.orange-table td.last,
table.green-table td.last,
table.purple-table td.last,
table.blue-table td.last,
table.orange-table thead th.last,
table.green-table thead th.last,
table.purple-table thead th.last,
table.blue-table thead th.last{
	border-right:none !important;
}

table.light-orange-table td:first-child,
table.orange-table td:first-child,
table.green-table td:first-child,
table.purple-table td:first-child,
table.blue-table td:first-child{text-align: center;}

table.light-orange-table td,
table.orange-green-table td,
table.orange-table td,
table.green-table td,
table.purple-table td,
table.blue-table td{
	padding: 3px 10px;
}

/*-----------------------------BLUE TABLE--------------------------*/


table.blue-table{
	border:1px solid #1e98c7;
}

table.blue-table thead th {
	padding: 10px 18px 5px 10px;
	text-transform: uppercase;
	font-weight: normal;
	cursor: pointer;
	*cursor: hand;
	background: #186078;
	border-bottom: none;
	border-right:1px solid #1e98c7;
}

table.blue-table td {
	padding: 3px 10px;
	border-right:1px solid #1e98c7;
	color:black;
}

table.blue-table tr:nth-child(odd){ background-color: #c9edf9; }
table.blue-table tr:nth-child(even){ background-color: #d9f2fb; }
table.blue-table .additional td, table.blue-table .additional th{ border-top: 1px solid #1e98c7; padding: 5px !important; } /*for evaluation report*/
/*---------------------------END BLUE TABLE------------------------*/

/*-----------------------------ORANGE TABLE--------------------------*/

table.orange-table{
	border:1px solid #f2f080;
}

table.orange-table thead th  {
	padding: 10px 18px 5px 10px;
	text-transform: uppercase;
	font-weight: normal;
	cursor: pointer;
	*cursor: hand;
	background: #d38229;
	border-bottom: none;
	border-right:1px solid #f2f080;
}

table.orange-table td {
	padding: 3px 10px;
	border-right:1px solid #f2f080;
	color:black;
}

table.orange-table tr:nth-child(odd) { background-color: #f1e5c1; }
table.orange-table tr:nth-child(even) { background-color: #f5edd4; }
/*---------------------------END ORANGE TABLE------------------------*/

/*-----------------------------LIGHT ORANGE TABLE--------------------------*/

table.light-orange-table{
	border:1px solid #fddd75;
}

table.light-orange-table thead th {
	padding: 10px 18px 5px 10px;
	text-transform: uppercase;
	font-weight: normal;
	cursor: pointer;
	*cursor: hand;
	background: #e84d24;
	border-bottom: none;
	border-right:1px solid #fddd75;
}

table.light-orange-table td {
	padding: 3px 10px;
	border-right:1px solid #fddd75;
	color:black;
}

table.light-orange-table tr:nth-child(odd) { background-color: #fef1c8; }
table.light-orange-table tr:nth-child(even) { background-color: #fef5d9; }
/*---------------------------END LIGHT ORANGE TABLE------------------------*/

/*-----------------------------GREEN TABLE--------------------------*/

table.green-table{
	border:1px solid #9acf87;
}

table.green-table thead th, table.green-table tr.head th {
	padding: 10px 18px 5px 10px;
	text-transform: uppercase;
	font-weight: normal;
	cursor: pointer;
	*cursor: hand;
	background: #0d5028;
	border-bottom: none;
	border-right:1px solid #9acf87;
	color:#FFF;
}

table.green-table td {
	padding: 3px 10px;
	border-right:1px solid #9acf87;
	color:black;
}

table.green-table tr:nth-child(odd) { background-color: #d7eccf; }
table.green-table tr:nth-child(even) { background-color: #e3f2dd; }
/*---------------------------END GREEN TABLE------------------------*/

/*-----------------------------PURPLE TABLE--------------------------*/

table.purple-table{
	border:1px solid #d999c4;
}

table.purple-table thead th {
	padding: 10px 18px 5px 10px;
	text-transform: uppercase;
	font-weight: normal;
	cursor: pointer;
	*cursor: hand;
	background: #6e297b;
	border-bottom: none;
	border-right:1px solid #d999c4;
}

table.purple-table td {
	padding: 3px 10px;
	border-right:1px solid #d999c4;
	color:black;
}

table.purple-table tr:nth-child(odd) { background-color: #f0d6e7; }
table.purple-table tr:nth-child(even) { background-color: #f5e2ee; }

/*-------------------------END PURPLE TABLE--------------------------*/

/*----------------------------ORANGE GREEN TABLE----------------------*/
table.orange-green-table{
	border:1px solid #c1c130;
}

table.orange-green-table thead th {
	padding: 10px 18px 5px 10px;
	text-transform: uppercase;
	font-weight: normal;
	cursor: pointer;
	*cursor: hand;
	background: #0d7a3d;
	border-bottom: none;
	border-right:1px solid #c1c130;
}

table.orange-green-table td {
	padding: 3px 10px;
	border-right:1px solid #c1c130;
	color:black;
}

table.orange-green-table tr:nth-child(odd) { background-color: #ebeab9; }
table.orange-green-table tr:nth-child(even) { background-color: #f1f0ce; }
/*------------------------------END ORANGE GREEN TABLE----------------*/

/*---------------------------EVALUATION TABLE------------------------*/
table.table-evaluation{
	border: none !important;
}
.table-evaluation table{
	width: 100%;
	border:none;
	background: none !important
}
.table-evaluation table tr td:nth-child(1){
	width:69.7%;
}
.table-evaluation thead th{
	font-weight: normal !important;
	cursor: pointer;
	background: #d15d29 !important;
	color:#FFF;
	font-size: 11pt;
	border-right:2px solid #f2f080 !important;
}
.table-evaluation tbody td{
	border-right:2px solid #f2f080 !important;
	text-align: left !important;
}

.table-evaluation tbody tr td table tbody tr td:nth-child(even),
.table-evaluation tbody tr td table tbody tr{
	border-right:none !important;
}

.table-evaluation input[type="text"]{
	text-align: center;
}

table.orange-table.table-evaluation tr:nth-child(odd) td table tr{ background-color: #f1e5c1; }
table.orange-table.table-evaluation tr:nth-child(even) td table tr{ background-color: #f5edd4; }

div.child_tabs2{
	padding:10px 20px;
}

div.child_tabs2.odd{
	background: #fcf1d9;
}

div.child_tabs2.even{
	background: #fef8ec;
}

#form-evaluation-1 div.child_tabs2{
	width:90%;
	margin:0 auto;
}

.evaluation-form2 textarea{
	width: 400px;
	height: 60px;
}

/*---------------------------END TABLE STYLE--------------------------------------------*/

/*HEADER*********************************************************************************/
.header{
	background-color: #6d6e6e;
	margin-top: 30px;
}

.logo img{
	margin: 10px;
}

.setting{
	margin-top: 75px;
	font-size: 20px;
	height:45px;
}

.setting ul{
	list-style-type:none;
	margin:0;
	padding:0;
	float: right;
}

.setting li{
	margin: 5px;
	float:left;
}

.setting ul li a{
	text-decoration: none;
	color: #000;
}

.login-wrap{
	margin-top: 35px;
}

.login-wrap .arrow-login{
	background: url(../img/arrow-login.png) no-repeat center;
	width: 10px;
	height:22px;
	position: absolute;
	right: 98%;
	top:14%;
	z-index: 2;
}

.login-wrap .login-button{
	background:url(../img/bg-login.png) no-repeat center right;
	text-align: center;
	color:white;
	font-size: 23pt;
	padding:17px 0;
	margin-left:2%;
	cursor: pointer;
	position: relative;
	z-index: 2;
}

.login-wrap .login-button div{
	margin-top:-17px;
	background: #47b348;
}

.form-login{
	display: none;
	background-color: rgba(255, 255, 255, 0.71);
	top: 50px;
	right: 28.5%;
	box-shadow: #000 5px 5px 35px;
	position: absolute;
	z-index: 1;
	margin-left: 35px;
}

.form-login form{
	margin: 35px 15px 35px 15px;
}

.form-login .inputbox{
	height: 25px;
	width: 265px;
	background-color: #787471;
	color: #fff;
	font-family: "Rockwell";
	font-size: 24px;
	padding: 2px;
	border: none;
}

/* individual: webkit */
.inputbox::-webkit-input-placeholder { color:#fff; }

/* individual: mozilla */
.inputbox::-moz-placeholder { color:#fff; }

.form-login .forgot a{
	color: #787471;
	font-family: "Rockwell";
	font-size: 16px;
}

.form-login .submit-btn{
	text-align: center;
	height: 30px;
	width: 99px;
	background-color: #fff;
	color: #787471;
	font-family: "Rockwell";
	font-size: 24px;
	padding: 2px;
	border: #fff;
	margin: 0px 0px 10px 20px;
	cursor: pointer;
}

/*MENU*********************************************************************************/

.menu{
	background-color: #444444;
	font-size: 22px;
	float: right !important;
}

.menu ul{
	list-style-type:none;
	margin:0px 0px 0px 5px;
	padding:0;
}

.menu li{
	margin: 7px 5px 7px 5px;
	float:left;
	color: #fff;
	border-left:1px solid white;
	padding-left:10px;
	cursor: pointer;
	display:inline-block;
}

.menu ul li ul{
	position: absolute;
	background: #444444;
	padding: 0;
	margin:0;
	display: none;
	z-index: 100;
	width:auto;
}

.menu ul li ul li{
	float:none;
	margin:0;
	border-left:none;
	border-bottom: 1px solid white;
	padding:5px 15px;
	font-size: 14.5pt;
	white-space:nowrap;
}

.menu ul li:hover ul{
	display: block;
}

.menu li.menu-icon{
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: auto 25px;
}

.menu li.innovators{
	background-image: url('../img/innovator-icon.png');
	padding-left:45px;
}

.menu li.tasks, .menu li.evaluations{
	background-image: url('../img/task-icon.png');
	padding-left:45px;
}

.menu li.portfolios{
	background-image: url('../img/portfolio-icon.png');
	padding-left:45px;
}

.menu li.galleries{
	background-image: url('../img/gallery-icon.png');
	padding-left:45px;
}

.menu li.notification{
	background-image: url('../img/notification-icon.png');
	padding-left: 45px;
}

.menu ul li a{
	text-decoration: none;
	color: #fff;
}

.home_icon{
	background-image: url('../img/homearticle_icon.png');
	background-position: 2% 40%;
	background-repeat: no-repeat;
	width:30px;
	height: 27px;
	margin-right:10px;
}

/*Hide dropdown links until they are needed*/
.menu li ul {
	display: none;
}

/*Make dropdown links vertical*/
.menu li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
.menu li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
.menu ul li a:hover + .hidden, .hidden:hover {
	display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	text-decoration: none;
	color: #fff;
	background-color: #444444;
	text-align: center;
	padding: 10px 0;
	display: none;
}

.menu ul{
	z-index: 1;
	width: 100%;
}

.menu .home-menu{
	display:none;
	margin-left: 35px;
}

/*CONTENT**********************************************************************************/
.content{
	margin-top:10px;
}

.content .slideshow{
	margin-top:5px;
}

.content .block{
	margin: 5px 0;
}

.content .block .title{
	padding:10px 0 10px 20px;
	color:white;
	font-size: 20pt;
}

.content .block .block-content{
	padding:5px 20px 20px 20px;
	color: white;
	font-size: 10.7pt;
	font-family: "ClarendonBT";
}

/*END CONTENT**********************************************************************************/

/*------------------------------------ICON ACTION STYLE--------------------------*/
.delete{
	width: 25px;
	height: 25px;
	background-image: url(../img/delete-icon.png);
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: center 5px;
	display: inline-block;
}

.edit{
	width: 25px;
	height: 25px;
	background-image: url(../img/edit-icon.png);
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: center 5px;
	display: inline-block;
}

.view-icon{
	width: 25px;
	height: 25px;
	background-image: url(../img/view-icon.png);
	background-repeat: no-repeat;
	background-position: center 10px;
	display: inline-block;
}

.view-note-approval{
	width: 25px;
	height: 25px;
	background-image: url(../img/lihat-catatan-kelulusan.png);
	background-repeat: no-repeat;
	background-size: 25px 20px;
	background-position: center 5px;
	display: inline-block;
}

.view-result-evaluation{
	width: 25px;
	height: 25px;
	background-image: url(../img/hasil-penilaian-icon.png);
	background-repeat: no-repeat;
	background-size: 25px 20px;
	background-position: center 5px;
	display: inline-block;
}

.add-result-evaluation{
	width: 25px;
	height: 25px;
	background-image: url(../img/isi-penilaian-icon.png);
	background-repeat: no-repeat;
	background-size: 25px 20px;
	background-position: center 5px;
	display: inline-block;
}

.view-notes-icon{
	width: 25px;
	height: 25px;
	background-image: url(../img/lihat-notes-icon.png);
	background-repeat: no-repeat;
	background-size: 25px 20px;
	background-position: center 5px;
	display: inline-block;
}
/*----------------------------------END ICON ACTON STYLE-------------------------*/

/*temporary hid subcategory*/
.subcat-view, .subcategory{
	display: none; 
}
.remove-category{
	display: inline;
}
.remove-category:after {
    content:"\a";
    white-space: pre;
}

/*form style*/
label.error{
	color: red;
	font-size: 15px;
}

.form-info{
	border: 1px solid;
    margin-bottom: 15px;
    padding:12px 10px 12px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
	border-radius: 5px;
	moz-border-radius: 5px;
}

.form-info.success{
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url('../img/icons/success.png');
}

.form-info.fail{
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../img/icons/fail.png');
}

.form-info.warning{
	color: #8a6d3b;
	background-color: #fcf8e3;
	background-image: url('../img/icons/warning.png');
}

.ui-widget{
	font-size: 14px;
}


.filter{ display: none; }

.dataTables_paginate a.fg-button{
	padding:0 8px;
}

.block-content.dasboard-content{
	background: #FFF;
}

textarea{
	resize: none;
}

textarea.full-parent{
	width:100%;
}

img.margin-bottom, input.margin-bottom{
	margin-bottom: 10px;
}

.file-title{
	display:none;
}

.ic-add-to-cart{
	width: 24px;
	height: 24px;
	background-image: url(../img/ic-add-to-cart.png);
	background-repeat: no-repeat;
	display: inline-block;
}

.ic-delete-from-cart{
	width: 24px;
	height: 24px;
	background-image: url(../img/ic-delete-from-cart.png);
	background-repeat: no-repeat;
	display: inline-block;
}