#googft-mapCanvas, #elections-googft-mapCanvas{
  height: 500px;
  margin: 5px !important;
  padding: 5px !important;
  width: 885px;
  color: #000;
}

#map-canvas{
    color: #000;
}

.legend-wrap{
	width: 95%;
	margin: 20px auto;
	background: whitesmoke;
  color : #000;
}

.elections-legend-wrap{
  width: 550px;
  margin: 20px auto;
  background: whitesmoke;
  padding: 10px 0;
  text-align: center;
}

.legend-box{
	height:12px;width:12px;display:inline-block;margin: 0 5px;
}

.box-wrap{
	padding: 3px 10px;
}

.income.color-1{
	background:#cfe2f3;
}

.income.color-2{
	background:#9fc5e8;
}

.income.color-3{
	background:#6fa8dc;
}

.income.color-4{
	background:#3d85c6;
}

.income.color-5{
	background:#0b5394;
}

.income.color-6{
	background:#073763;
}

.style2.color-1{
  background:#cfe2f3;
}

.style2.color-2{
  background:#6fa8dc;
}

.style2.color-3{
  background:#3d85c6;
}

.style2.color-4{
  background:#0b5394;
}

.style2.color-5{
  background:#073763;
}

img.pin_pict { height:100px; margin:5px; border:none; }

.style3.color-1{
  background:#f4cccc;
}

.style3.color-2{
  background:#e06666;
}

.style3.color-3{
  background:#cc0000;
}

.style3.color-4{
  background:#b20000;
}

.style3.color-5{
  background:#660000;
}

.style5.color-1{
  background:#0000FF;
}

.style5.color-2{
  background:#FF0000;
}

.style5.color-3{
  background:#4c1130;
}

.map-title{
	font-size:20px;
	font-weight: bold;
}

.legend-column{
	display: inline-block;
	min-width:190px;
	vertical-align: top;
}

.elections-legend-wrap .box-wrap{
  float:left;
}

.labels {
   color: white;
  /* background-color: white;*/
   font-family: "Lucida Grande", "Arial", sans-serif;
   font-size: 12px;
   font-weight: bold;
   text-align: center;
   width: 40px;     
   /*border: 1px solid black;*/
   white-space: nowrap;
}

.bn-color{
  background:#0000FF;
}

.pkr-color{
  background:#FF0000;
}

.others-color{
  background: #00FF00;
}

.category_wrap{
  margin: 10px 10px 10px 15px;
  -moz-column-count: 3;
  -moz-column-gap: 1.5em;
  -moz-column-rule: 0px solid #c4c8cc;
  -webkit-column-count: 3;
  -webkit-column-gap: 1.5em;
  -webkit-column-rule: 0px solid #c4c8cc;
  column-count: 3;
  column-gap: 1.5em;
  column-rule: 0px solid #c4c8cc;
}

.box-wrap-img{
  float: left;
  margin-right: 3px;
}