@media print {
	@import "responsive/960.min.css";

    .block-content{
        font-family: "Times New Roman" !important;
        font-size: 18px !important;
    }

    .header, .title, .action_wrap, #content-chart .webform, .dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate,.form-info {
        display:none;
    }

    .block{
    	background: none;
    }

    .detail-content.grid_9{
    	width:850px !important;
    }

    .detail-content .grid_5{
    	width:570px !important;
    }

    .detail-content .image_wrap{
    	width:850px !important;
    }

    .detail-content .print_title{
    	font-weight: bold !important;
    	font-size: 20px !important;
    }

    table.dataTable{
        border : none;
    }

    table.dataTable thead tr th{
        color : #000 !important;
    }

    table.dataTable td, table.dataTable th{
        border:none !important;
    }

    textarea, input{
        border: none !important;
        font-family: "Times New Roman" !important;
        font-size: 18px !important;
    }

    .general_table{
        border-left: 1px solid #055028;
        border-top: 1px solid #055028;
    }

    .general_table th{
        border-bottom: 1px solid #055028;
        border-right: 1px solid #055028;
        color:#000;
    }

    table#form-hip6-evaluation{
        border:solid #000 !important;
        border-width:1px 0 0 1px !important;
    }

    table#form-hip6-evaluation tr td{
        border:solid #000 !important;
        border-width:0 1px 1px 0 !important;
    }

    .table-hip6-evaluation > tbody > tr > td, .table-hip6-evaluation > tbody > tr.head > th{
        border-bottom:1px solid #000;
    }

    table.green-table tr.head th{
        color:#000 !important;
        border-right: 1px solid #fff;
    }

    table.green-table td {
      border-right: 1px solid #fff;
    }

    table.green-table {
      border: 1px solid #000;
    }

    .file-title{
        display:block;
        color:#000;
        margin-bottom: 10px;
    }
}