body{
	background-color: #8d8e8f;
	margin: 0px;
	font-family: "Rockwell";
	font-size: 17px;
	color: #000;
}

textarea, input, select, button{
	font-family: Arial;
	font-size: 13.34px;
}

.datepicker{ cursor: pointer; }

.red-text{ color: red !important}

.clear{clear: both;}
/*----------------------------------------------CONTENT STYLE---------------------------------------*/

.content .block .location img{
	width:100%;
	margin-top:5px;
}

.content .block .block-content p{
	text-align: justify;
}

.content .block .block-content ul.yellow-list{
	padding: 0;
	margin: 0;
}

.content .block .block-content ul.yellow-list li{
	color:#fff200;
	border-bottom: 1px dashed #fff200;
	list-style-position:inside;
	padding: 5px 0;
}

.content .block .block-content ul.yellow-list li.last-li{
	border: none;
}

.content .block .block-content ul.yellow-list li a{
	color:#fff200;
	text-decoration: none;
}

.content .block.orange{
	background: #f16729;
	height:363px;
	overflow: hidden;
}

.content .block.orange .title{
	background: #cd3d27;
}

.content .block.dark-green{
	background: #74a439;
	height:446px;
	overflow: hidden;
}

.content .block.dark-green .title{
	background: #41612d;
}

.content .block.purple{
	background: #4e59a8;
	height:358px;
	overflow: hidden;
}

.content .block.purple .title{
	background: #242760;
}

.content .block.light-purple{
	background: #d999c4;
	height:272px;
	overflow: hidden;
}

.content .block.light-purple .title{
	background: #242760;
}

.content .block.blue{
	background: #20abe1;
	height:541px;
	overflow: hidden;
}

.content .block.blue .title{
	background: #186078;
}

.content .block.green{
	background: #8cc444;
	height:223px;
	overflow: hidden;
}

.content .block.grey{
	height:272px;
	overflow: hidden;
}

.content .block.green .title{
	background: #41612d;
}

.content .block.red{
	background: #921a1c;
	height:306px;
	overflow: hidden;
}

.content .block.red .title{
	background: #ea222d;
}

.content .block.img-bg{
	background-size: 150% auto !important;
	background-repeat: no-repeat;
}

.content .block.img-bg .title{
	background-color:rgba(0,0,0,0.5);
}

.content .block.light-purple .title a,
.content .block.blue .title a,
.content .block.img-bg .title a,
.content .block.purple .title a,
.content .block.red .title a,
.content .block.green .title a,
.content .block.dark-green .title a,
.content .block.orange .title a{
	color:white;
	text-decoration: none;
}

.content .block.blue .title a:hover,
.content .block.img-bg .title a:hover,
.content .block.purple .title a:hover,
.content .block.red .title a:hover,
.content .block.green .title a:hover,
.content .block.dark-green .title a:hover,
.content .block.orange .title a:hover{
	text-decoration: underline;
}

.content_1 .left{
	position: relative;
	z-index: 0;
	height: 80px;
}

.content_1 .left p{
	font-size: 50px;
}

.data img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    height: 130px;
}

.data p{
	text-align: right;
	color: 	#fff;
	margin: 0px 20px 5px 0px;
	font-size: 50px;
}

.arrow_down{
	background-image: url('../img/arrow-down-white.png');
	height:59px;
	background-repeat: no-repeat;
}

.arrow_left{
	background-image: url('../img/arrow-left-white.png');
	height:59px;
	background-repeat: no-repeat;
	background-position: 400px center;
}

/*-----------------------------portfolio-------------------------------------------------*/
.each-portfolio{margin-bottom:10px;padding:10px}

.progress-bar{width:300px;height:20px;margin:0 auto;}

.ui-progressbar span {width:300px;position:absolute;text-align:center;font-weight:bold;}

.left{float: left; width:60%;}

.right{/*width: 35%;*/float:right}

.task-updates{/*margin-top: 30px*/}

.task-updates fieldset{width: 40%;float:left;margin-right:10px; border-color: #000; }

#general-progress{margin-top:40px;width:70%;padding:0 55px}

.notif_number{
	background: rgb(223, 0, 0);
	color: white;
	border-radius: 35px;
	padding: 0px 8px 0px 8px;
}
#calendar .special-date a, .calendar-legend-all { background: #ffe45c; border: 1px solid #fed22f; color: #363636;}
#calendar .special-date.color-0 a, .calendar-legend-color-0 { background: #FF7B84; border: 1px solid #FF3947; color: #363636;} /*red*/
#calendar .special-date.color-1 a, .calendar-legend-color-1 { background: #55D8F5; border: 1px solid #00C5F1; color: #363636;} /*blue*/
#calendar .special-date.color-2 a, .calendar-legend-color-2 { background: #55D99D; border: 1px solid #00C66C; color: #363636;} /*green*/
#calendar .special-date.color-3 a, .calendar-legend-color-3 { background: #CD93AC; border: 1px solid #B55E83; color: #363636;} /*purple*/
#calendar .special-date.color-4 a, .calendar-legend-color-4 { background: #B1705B; border: 1px solid #8A290A; color: #363636;} /*brown*/
#calendar .special-date.color-5 a, .calendar-legend-color-5 { background: #555573; border: 1px solid #00012D; color: #363636;} /*navy*/
#calendar .special-date.color-6 a, .calendar-legend-color-6 { background: #FFFD8A; border: 1px solid #FFFC50; color: #363636;} /*yellow*/
#calendar .special-date.color-7 a, .calendar-legend-color-7 { background: #E1D1BF; border: 1px solid #D3BAA0; color: #363636;} /*gray*/
#calendar .special-date.color-8 a, .calendar-legend-color-8 { background: #55CDC3; border: 1px solid #00B5A6; color: #363636;} /*tosca*/
#calendar .special-date.color-9 a, .calendar-legend-color-9 { background: #929191; border: 1px solid #5C5B5B; color: #363636;} /*old gray*/
#calendar a.ui-state-active{ border: 1px solid gray; }
/*-----------------------------end portfolio-------------------------------------------------*/

/*----------------------------ARTICLE STYLE-----------------------------------*/
.block-content.quote{
	height: 327px;
}

.blockquote{
	background: url('../img/blockquote_top.png'), url('../img/blockquote_bottom.png');
	background-position: left top, right bottom;
	background-repeat: no-repeat, no-repeat;
	padding:0 20px;
	margin-top:10px;
	font-size: 15pt;
}

.blockquote p{text-align: center !important;}

.article .block .title.title_article{
	text-transform: uppercase;
	background-color: #186078;
	background-image: url('../img/homearticle_icon.png');
	background-position: 2% 40%;
	background-repeat: no-repeat;
	padding-left:6%;
}

.article .block .block-content.content-article{
	-webkit-column-count:3;
	-moz-column-count:3;
	column-count:3;
	-webkit-column-gap:40px;
	-moz-column-gap:40px;
	column-gap:40px;
	padding-top:20px;
}

.article .block .block-content.content-article p{
	margin-top:0;
}
/*-------------------------END ARTICLE STYLE----------------------------------*/
/*----------------------------TASK LIST STYLE---------------------------------*/

.content .block.tasklist{
	background: #dbbf64;
	padding-bottom:30px;
}

.content .block.tasklist .title{
	background: #d38229;
	text-transform: uppercase;
	background-image: url('../img/task-icon.png');
	background-repeat: no-repeat;
	background-position: 20px center;
	padding-left:70px;
	min-height: 30px;
}

.expert-list .ms-ctn, .expert-list .ms-res-ctn{
	width:380px !important;
}
/*-------------------------END TASK LIST STYLE--------------------------------*/

/*----------------------------PORTFOLIO STYLE---------------------------------*/

.content .block.gallery,
.content .block.portfolio{
	background: #9acf87;
	padding-bottom:30px;
}

.content .block.portfolio .title{
	background-color: #0d5028;
	text-transform: uppercase;
	background-image: url('../img/portfolio-icon.png');
	background-repeat: no-repeat;
	background-position: 20px center;
	padding-left:70px;
	min-height: 30px;
}

.content .block.detail_portfolio{
	background: #78d1f0;
	padding-bottom: 30px;
}

.content .block.detail_portfolio .block-content{
	margin-top:30px;
}

.content .block.detail_portfolio .subblock .title{
	background: #186078;
	text-transform: uppercase;
}

.content .block.detail_portfolio .title{
	background-color: #186078;
	text-transform: uppercase;
	background-image: url('../img/portfolio-icon.png');
	background-repeat: no-repeat;
	background-position: 20px center;
	padding-left:70px;
	min-height: 30px;
}

.content .block.detail_portfolio .subblock{
	background: white;
	margin-bottom: 20px;
}

.content .block.detail_portfolio .subblock .subblock-content{
	padding:5px 10px;
	color:#231f20;
}

.content .block.detail_portfolio .subblock .subblock-content .ui-datepicker{
	width:98%;
}

.content .block.detail_portfolio .subblock .subblock-content .ui-datepicker td{
	padding:2px 6px;
}

.content .block.detail_portfolio .subblock .title{
	font-size: 13pt;
	text-align: center;
	font-weight: bold;
	padding: 15px 0;
}

.content .block.detail_portfolio .subblock .subblock-content .ui-progressbar-value{
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0, #D04F49),
		color-stop(1, #F06060),
		color-stop(1, #DE5753)
	);
	background-image: -o-linear-gradient(right, #D04F49 0%, #F06060 100%, #DE5753 100%);
	background-image: -moz-linear-gradient(right, #D04F49 0%, #F06060 100%, #DE5753 100%);
	background-image: -webkit-linear-gradient(right, #D04F49 0%, #F06060 100%, #DE5753 100%);
	background-image: -ms-linear-gradient(right, #D04F49 0%, #F06060 100%, #DE5753 100%);
	background-image: linear-gradient(to right, #D04F49 0%, #F06060 100%, #DE5753 100%);
	border: 1px solid #e45a57;
}

.content .block.detail_portfolio .subblock .subblock-content .progress-bar{
	height:12px;
	background: #d8d3bd;
	padding: 2px;
	margin-bottom: 20px;
}

.content .block.detail_portfolio .subblock .subblock-content .progress-bar span, .general-progress-bar span{
	position: absolute;
	margin-top:-30px;
	background: url("../img/pink-arrow.png") no-repeat bottom;
	color:white;
	padding:2px 0 9px 0;
	width: 59px;
}

.content .block.detail_portfolio .legend{
	float:right;
	color:white;
	text-align: center;
	font-size: 9.3pt;
}

.content .block.detail_portfolio .legend .legend-blue{
	background: url("../img/legend-blue.png") no-repeat center;
	width:170px;
	height:35px;
	padding-top:6px;
}

.content .block.detail_portfolio .legend .legend-red{
	background: url("../img/legend-red.png") no-repeat center;
	width:170px;
	height:35px;
	padding-top:6px;
}

.task-updates p{
	color:#231f20;
}

/*-------------------------END PORTFOLIO STYLE--------------------------------*/

/*----------------------------EVALUATION STYLE---------------------------------*/

.content .block.evaluation{
	background: #d999c4;
	padding-bottom:30px;
}

.content .block.evaluation .title{
	background: #6e297b;
	text-transform: uppercase;
}

/*-------------------------END EVALUATION STYLE--------------------------------*/

/*----------------------------TASK INNOVATOR STYLE---------------------------------*/

.count_notif{
	background: #ed1c24;
	font-size: 12pt;
	padding:1px 8px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	margin-top:-3px;
}

.content .block.innovator{
	background: #78d1f0;
	padding-bottom:30px;
}

.content .block.innovator .title{
	background-color: #186078;
	text-transform: uppercase;
	background-image: url('../img/innovator-icon.png');
	background-repeat: no-repeat;
	background-position: 20px center;
	padding-left:70px;
	min-height: 30px;
}

.content .block.innovator .title .add_innovator_button{
	background: url("../img/add_innovator_icon.png") left center no-repeat;
	font-size: 14pt;
	float:right;
	padding-left:40px;
	height: 27px;
	color: white;
	margin-right: 20px;
}

.content .block.innovator .title .add_innovator_button div, .content .block.tasklist .title .add_task_button div{
	margin-top:5px;
}

.add_task_button{
	background: url("../img/add-access-icon.png") left center no-repeat;
	font-size: 14pt;
	float:right;
	padding-left:40px;
	height: 33px;
	color: white;
	margin-right: 20px;
}

/*-------------------------END INNOVATOR STYLE--------------------------------*/

/*---------------------------STATUS DATA STYLE--------------------------------*/
.status_approved{
	background:url('../img/approved.png') center center no-repeat;
	width:25px;
	height:25px;
	margin: 0 auto;
}

.status_pending{
	background:url('../img/pending.png') center center no-repeat;
	width:25px;
	height:25px;
	margin: 0 auto;
}

.status_unapproved{
	background:url('../img/unapproved.png') center center no-repeat;
	width:25px;
	height:25px;
	margin: 0 auto;
}
/*------------------------END STATUS DATA STYLE--------------------------------*/

/*-------------------------DETAIL INNOVATOR--------------------------------*/
.content .block.innovator.green{
	background: #9bcf87;
	height:auto !important;
}

.content .block.innovator.green .title{
	background-color: #055028;
	text-transform: uppercase;
	margin-bottom: 30px;
	background-image: url('../img/innovation-icon.png');
	background-repeat: no-repeat;
	background-position: 20px center;
	padding-left:70px;
	min-height: 30px;
}

#tabs{list-style-type:none; margin:0 0 0 20px;padding:0;display:inline-block}

#tabs li{
	float: left;
	padding: 5px 8.765px;
	background: #055028;
	border-bottom:none;
	margin-right: 1px;
}

#tabs li.active{
	background: #d5eacb;
}

#tabs li a{text-decoration: none; color: #fff; font: 21px "Rockwell Condensed";}

#tabs li.active a{color: #055028;}

.detail-content{
	background: #d5eacb;
	padding: 10px 0;
	color: #231f20;
	margin-left: 20px;
}

.detail-content .label{
	margin-left: 30px;
}

.detail-content .value{
	margin-bottom:15px;
	min-height:20px;
}

.detail-content .eval-value{
	margin-bottom:15px;
	margin-left: 30px;
}

.btn{
	background: #65952f;
	color: #fff !important;
	text-decoration: none !important;
	text-transform: uppercase;
	font-size: 12px;
	padding: 4px 8px;
	margin: 0 6px 10px 0;
	font-family: "ClarendonBT";
	border: none;
	cursor: pointer;
	text-align: center;
}

.btn[disabled]{
	opacity: 0.5;
}

.btn.red{
	background: #ed1c24;
}

.btn.tosca{
	background: #3a948e;
}

.right{
	float: right;
}

.value input[type="text"], input[type="password"], select, textarea{
	padding: 4px 0;
	border: none;
}

.value textarea{
	height: 80px;
}

.innovator-img{
	float:left;
	width: 190px;
	margin: 0 10px;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 165px 0 0 10px;
	padding: 5px;
	width: 20%;
}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.value p{margin: 0 0 0 10px}

.value p > input{
	padding: 0;
	margin: 0;
	height: 16px;
	width: 16px;
	float: left;
	position: absolute;
	left: 0;
	opacity: 0;
}
.value p > label{
	float: left;
	line-height: 16px;
	padding: 0 15px 0 18px;
	-moz-transition: color 1s ease;
	-o-transition: color 1s ease;
	-webkit-transition: color 1s ease;
	transition: color 1s ease; 
}

.value p:not(#foo) > input + label{
	background: url(../img/bg-custom-inputs.png) 0 -1px no-repeat;
	height: 16px;
}

.value p:not(#foo) > input[type=radio] + label{ background-position: 0 -2px; }

.value p:not(#foo) > input[type=radio]:checked + label{ background-position: 0 -82px; }

.value p:not(#foo) > input[type=radio]:hover:checked + label,
.value p:not(#foo) > input[type=radio]:focus:checked + label,
.value p:not(#foo) > input[type=radio]:checked + label:hover,
.value p:not(#foo) > input[type=radio]:focus:checked + label{ background-position: 0 -82px; }

.value p:not(#foo) > input[type=radio]:hover + label,
.value p:not(#foo) > input[type=radio]:focus + label,
.value p:not(#foo) > input[type=radio] + label:hover{ background-position: 0 -2px; }

.value p:not(#foo) > input[type=radio]:active + label,
.value p:not(#foo) > input[type=radio] + label:hover:active{ background-position: 0 -82px; }

.value p:not(#foo) > input[type=radio]:active:checked + label,
.value p:not(#foo) > input[type=radio]:checked + label:hover:active{ background-position: 0 -82px; }

/*-------------------------END DETAIL INNOVATOR--------------------------------*/

.comment-wrapper{
	margin-top: 10px;
	color: #000;
}

.comment-wrapper div{
	border-bottom: 1px solid #666;
	margin: 0 0 10px 20px;
}

.posted-time{
	font-size: 12px;
	color: gray;
}

/*-----------------------------DETAIL INNOVATION-------------------------------*/
.innovation .block .title.title_innovation{
	text-transform: uppercase;
	background-color: #186078;
	background-image: url('../img/homearticle_icon.png');
	background-position: 2% 40%;
	background-repeat: no-repeat;
	padding-left:6%;
}
.innovation .block{
	height: auto !important;
}

.innovation .block .block-content.content-innovation .innovation-desc{
	-webkit-column-count:2;
	-moz-column-count:2;
	column-count:2;
	-webkit-column-gap:40px;
	-moz-column-gap:40px;
	column-gap:40px;
	padding-top:20px;
}

.innovation .block .block-content.content-innovation .innovation-innovator{
	background: #186078;
	margin-top: 25px;
	padding:10px;
}

.innovation .block .block-content.content-innovation .innovation-innovator .title_innovator{
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 20pt;
	margin-bottom: 15px;
	font-family: "Rockwell";
}

.innovation .block .block-content.content-innovation .innovation-innovator .img-innovator{
	margin-bottom: 10px;
}

.innovation .block .block-content.content-innovation .innovation-innovator .img-innovator img{
	width:100%;
}

.innovation .block .block-content.content-innovation .innovation-innovator ul.list-innovator-desc{
	color:white;
	border:none;
	padding: 0 10px 0 20px;
	margin: 0;
	text-align: left;
}

.innovation .block .block-content.content-innovation p{
	margin-top:0;
}
/*----------------------------END DETAIL INNOVATION----------------------------*/
/*-----------------------------------50 top innovation-------------------------*/
.top_innovasi_img img{width:100%;}

.content ul.block.top_innovasi{
	margin:0;
	padding: 0;
}

.content ul.block.top_innovasi li{
	background: #f3d43a;
	list-style: none;
	padding:7px 0;
	font-size: 16pt;
	margin-bottom: 10px;
	height: 200px;
}

.content ul.block.top_innovasi li:nth-child(1){
	padding: 0;
}

.content ul.block.top_innovasi li.orange-bg{
	background: #f06629;
}

.content ul.block.top_innovasi li.red-bg{
	background: #ea222d;
}

.content ul.block.top_innovasi li.blue-bg{
	background: #20abe1;
}

.content ul.block.top_innovasi li.green-bg{
	background: #8cc444;
}

.content ul.block.top_innovasi li.purple-bg{
	background: #4e59a8;
}

.content ul.block.top_innovasi li.img-bg{
	min-height:110px;
	background-size: 300px auto;
	position: relative;
}

.content ul.block.top_innovasi li.img-bg a,
.content ul.block.top_innovasi li.purple-bg a,
.content ul.block.top_innovasi li.green-bg a,
.content ul.block.top_innovasi li.blue-bg a,
.content ul.block.top_innovasi li.red-bg a,
.content ul.block.top_innovasi li.orange-bg a{
	color: white;
}

.content ul.block.top_innovasi li a{
	color: #231f20;
}

.content ul.block.top_innovasi li.img-bg .wrap-inno{
	background: rgba(47, 42, 40, 0.7);
	padding-left: 10px;
	bottom: 5%;
	position: absolute;
	width: 96.7%;
}

.content ul.block.top_innovasi li .inno_no{
	float:left;
	font-size: 26pt;
	font-weight: bold;
	margin-right: 12px;
}

.content ul.block.top_innovasi li .inno_name{
	float: left;
	margin-top:10px;
}
/*-----------------------------------end 50 top innovation---------------------*/
/*------------------------------------NOTIFICATION STYLE-----------------------*/
.content .block.notification{
	background: #78d1f0;
	padding-bottom:30px;
}

.content .block.notification .title{
	background: #186078;
	text-transform: uppercase;
	background-image: url('../img/notification-icon.png');
	background-repeat: no-repeat;
	background-position: 20px center;
	padding-left:70px;
	min-height: 30px;
}

.list-notification{
	margin : 20px 0 0 0;
	padding: 0;
}

.list-notification li{
	list-style: none;
	color:black;
	padding:5px 10px;
}

.list-notification li:nth-child(odd){
	background: #aee3f6;
}

.list-notification li:nth-child(even){
	background: #c6ebf9;
}

.list-notification li .add{
	background: url('../img/notif-people-ico.png') left center no-repeat;
	padding:5px 0 5px 45px
}

.list-notification li .approve{
	background: url('../img/notif-checklist-ico.png') left center no-repeat;
	padding:5px 0 5px 45px
}

.list-notification li .assign{
	background: url('../img/notif-tasklist-ico.png') left center no-repeat;
	padding:5px 0 5px 45px
}

.list-notification li .edit{
	background: url('../img/notif-edit-ico.png') left center no-repeat;
	padding:5px 0 5px 45px;
	width:auto;
}
/*------------------------------------END NOTIFICATION STYLE-------------------*/

/*------------------------------------GALLERY STYLE----------------------------*/

.content .block.gallery .title{
	background-color: #0d5028;
	background-image: url('../img/gallery-icon.png');
	background-repeat: no-repeat;
	background-position: 20px center;
	padding-left:70px;
	text-transform: uppercase;
	min-height: 30px;
}

.content .block.gallery .block-content{
	margin-top:20px;
}

.thumbnail-gallery{
	background: #6b7d5a !important;
	padding:10px 50px !important;
}

.thumbnail-gallery li{
	margin-right: 15px;
}

.thumbnail-gallery .flex-prev{
	opacity: 1 !important;
	left: 10px !important;
	color:white;
}

.thumbnail-gallery .flex-next{
	opacity: 1 !important;
	right:10px !important;
	color: white;
}
/*---------------------------------END GALLERY STYLE----------------------------*/

/*tree collpasible graph css*/
.node circle {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
}

line.link {
  fill: none;
  stroke: gray;
  stroke-width: 1.5px;
}

#semantic{
	color: black;
}

/*submenu in homepage*/

.arrow_down.search,
.arrow_left.report{
	cursor: pointer;
}

.submenu_homepage.search:hover,
.submenu_homepage.report:hover{
	display: block;
}

.submenu_homepage.report{
	background: #2f62ae;
	position: absolute;
	padding: 5px 10px;
	margin-top: -64%;
	margin-left: 14.5%;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.75);
	display: none;
}

.submenu_homepage.search{
	background: rgba(46, 25, 66, 0.9);
	position: absolute;
	padding: 5px 10px;
	margin-left: -1%;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.75);
	display: none;
	min-width: 90%;
	z-index:10;
}

.submenu_homepage.data{
	background: rgba(119, 32, 31, 0.87);
	position: absolute;
	padding: 5px 10px;
	margin-left:5%;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.75);
	display: none;
	min-width: 80%;
	z-index:10;
}

.submenu_homepage.data a,
.submenu_homepage.search a,
.submenu_homepage.report a{
	text-decoration: none;
	color: white;
}

.submenu_homepage.data ul,
.submenu_homepage.search ul,
.submenu_homepage.report ul{
	padding:0;
	margin:0;
}

.submenu_homepage.data ul li,
.submenu_homepage.search ul li,
.submenu_homepage.report ul li{
	list-style: none;
	color:white;
	padding:10px;
	font-size: 15pt;
	text-transform: uppercase;
	text-align: right;
}

.top_50_img{
	width:100%;
}

.arrow_down.data_arrow{
	background-position:145px center;
}

.arrow_down.search_arrow{
	background-position:115px center;
}

.arrow_down.search_arrow.active{
	background-image: url('../img/arrow-down-purple.png');
}

.arrow_down.data_arrow.active{
	background-image: url('../img/arrow-down-red.png');
}

.arrow_left.report.active{
	background-image: url('../img/arrow-left-blue.png');
}

.homepage_overlay{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background: #333333;
	opacity: 0.7;
	display: none;
}

.label_max{
	color:#6d6e6e;
}

.subtotal{
	width:75px;
}

.innovation_img{
	margin-top:10px;
	margin-bottom: 10px;
	border:1px solid black;
}

.loading{
	background: url('../img/load.gif') no-repeat;
	width:16px;
	height:11px;
}

.load-more-wrap{
	padding: 10px 0;
	text-align: center;
	background: #186078;
	margin: 10px 0;
}

.load-more-wrap a{
	color: #FFF;
}

/*------------------------------------NOTE STYLE----------------------------*/
.content .block.note.orange{
	background: #f16729;
	height:auto !important;
}

.content .block.note.orange .title{
	background-color: #cd3d27;
	text-transform: uppercase;
	margin-bottom: 30px;
	background-image: url('../img/note-icon.png');
	background-repeat: no-repeat;
	background-position: 20px center;
	padding-left:70px;
	min-height: 30px;
}

#masonry{
	margin-bottom: 20px;
}

.item {
  width: 195px !important;
  float: left;
  margin: 0 5px 10px !important;
  /*min-height: 100px;*/
  /*max-height: 300px;*/
  overflow: hidden;
  background-color: #F7F7F7; 
  padding: 0 10px;
  font-family: "ClarendonBT";
  font-size: 14px;
  color: #000;
}

.item .author{
  font-style: italic;
  font-size: 10px;
}

.item .date{
  font-style: italic;
  font-size: 9px;
}

.item .content{
  text-align: left !important;
}
/*------------------------------------END NOTE STYLE----------------------------*/

.column_3{
	-webkit-column-count:3;
	-moz-column-count:3;
	column-count:3;
	-webkit-column-gap:10px;
	-moz-column-gap:40px;
	column-gap:40px;
	padding-top:20px;
}

.block-content.dasboard-content > div{
	padding: 20px 0;
}

.general_table{
	margin-bottom:20px;
	/*border-bottom: 1px solid #055028;*/
}

.general_table thead{
	background-color: #055028;
	color: #FFF;
}

.general_table th{
	padding: 8px 0;
}

.general_table td{
	border-bottom : 1px solid #055028;
	border-right : 1px solid #055028;
	padding:8px 0 8px 5px;
}

.load-more-wrap{
	padding: 10px 0;
  	background-color: #186078;
  	text-align: center;
}

.db-title{
	text-align:center;
	color : #186078;
}

.icon-approved{
	background: url('../img/approved.png') center no-repeat;
  	width: 25px;
  	height: 25px;
  	float: right;
  	margin-right: 25px;
}

.icon-rejected{
	background: url('../img/unapproved.png') center no-repeat;
  	width: 25px;
  	height: 25px;
  	float: right;
  	margin-right: 25px;
}

.icon-write-file{
	background: url('../img/write-file.png') center no-repeat;
  	width: 25px;
  	height: 25px;
  	display: inline-block;
}

.table-hip6-evaluation tr td{
	text-align: left !important;
}

.table-hip6-evaluation tr td.clm-total{
	text-align: right !important;
}

.display-none{ display: none; visibility: hidden;}

.scope-criteria-detail{
	padding-left: 20px;
}

.scope-criteria-detail .task-list{
	margin-left: 0px;
}

.delete_task_button{
	background: url("../img/no-access-icon.png") left center no-repeat;
	font-size: 14pt;
	float:right;
	padding-left:40px;
	height: 33px;
	color: white;
	margin-right: 20px;
}

.task-list .add_task_button{
	height: 20px !important;
}

.task-list .delete_task_button{
	height: 20px !important;
}

.item-attachment{
	border: 2px solid #186078;
    margin-bottom: 10px;
    padding: 0 10px 10px 10px;
    border-radius: 5px;
}