/*-----------------------------------UI CUSTOM CSS-------------------------------*/
.ui-dialog {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	outline: 0;
	border:0;
}

.ui-dialog *:focus{
	outline: none;
}

.ui-dialog button.ui-dialog-titlebar-close{
	background-image:url('../img/close-dialog.png') !important;
	border:0 !important;
	background-size: 30px 30px !important;
	width:30px !important;
	height:30px !important;
	top:38% !important;
}

.ui-widget-header {
	border: none;
	background: #d38229;
	color: #ffffff;
	font-weight: normal;
	font-family: Rockwell;
	text-transform: uppercase;
	font-size: 16pt;
}

.ui-widget-content{
	background: #f6c94e;
	font-family: "ClarendonBT";
	font-size: 12pt;
	font-weight: normal;
	padding:0 !important;
}

.ui-dialog .ui-dialog-titlebar-close{
	background: none;
}

.ui-state-default .ui-icon{
	background: none;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 0px;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 0px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 0px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 0px;
}

ul.ui-tabs-nav{
	background: transparent !important;
	border:none !important;
	padding: 0 !important;
}

ul.ui-tabs-nav li{
	margin:0 !important;
	border: none !important;
	background: #d4933a !important;
	padding: 7px 15px !important;
}

ul.ui-tabs-nav li a{
	color: white !important;
	font-family: "ClarendonBT";
	font-size: 10pt;
}

ul.ui-tabs-nav li.ui-tabs-active.ui-state-active{
	background: #f8dda0 !important;
	color: black;
}

ul.ui-tabs-nav li.ui-tabs-active.ui-state-active a{
	color: black !important;
}

.ui-dialog-buttonpane{
	border:none !important;
}

.ui-dialog-buttonset button{
	background: #d7a780 !important;
	color:white !important;
	border:none !important;
}
/*------------------------------------END UI CUSTOM CSS--------------------------*/

#view-detail-dialog h2{
	font-family: "ClarendonBT";
	text-transform: uppercase;
	font-size: 13pt;
}

#eval-popup-tab{
	border: none;
}

#eval-popup-tab .ui-tabs-panel{
	background: #f8dda0;
	padding : 1em 1.4em !important;
	font-size: 10.7pt !important;
}

.info-eval{
	margin:25px 0px 25px 25px;
}